section{
    background-color: aqua; 
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    /* grid-template-rows: repeat(3, 2fr);  */
    /* justify-content: center; */
    /* justify-items: flex-end; */
    margin: 20px;
    gap: 5px;
    padding: 5px;
}

div{
    background-color: rgb(187, 44, 44);
    padding: 20px;
    border: 1px solid;
}

.grid-item{
    grid-column-start: 1;
    grid-column-end: 4;
}


