body{
    background-size: 100%;
    background: linear-gradient(to top right,rgba(137,209,69),#5f5f8b),url(../assets/pedro-mestres-ng90PRQ-B94-unsplash.jpg)
    
}

h3{
    color: hwb(240 0% 0% / 0.5);
}

p{
    border
}

