body{
   font-family: Roboto; 
   margin: 0;
}

.Header{
    display: flex;
    border-radius: 20px; 
    background-color: #FD853A;
    color: black;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 5px;
    position: sticky;
    top: 0;
}

.Profile{
    display: flex;
    background-color: white;
    width: 100vw;
}

.MyProfile{
     margin-left: 500px; 
}

.Image{
    width: 200px;
    height: 280px;
    margin-left: -100px ;
}

h2{
    margin-left: 30px;
}
 
ul{
  display: flex;
  
}
 
li{
   list-style: none;
   margin-right: 1cm;
   font-size: 15px;
   
}

span{
    color: #FD853A;
}

#btn{
    border: none;
    border-radius: 20px;
    background-color: #FD853A;
    
}

#Name{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-right: 600px;
}

#Story{
    font-size: 15px;
}



.Profile{
    height: 30vh;
    background-color: FFFFFF;
}

#Head{
    color: white;
}


#grid1, #grid2, #grid3{
    width: 25%;
    box-shadow: 1px 2px 1px #FD853A ;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Expreince{
    background-color: black;
    width: 100vw;
    height: 50vh;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.Portfolio{
    background-color: #F2F4F7;
    width: 100vw;
    height: 50vh;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
}



.Imagee{
    display: flex;
    width: 200px;
    height: 280px; 
    justify-content: space-between; 
    margin: 20px;
}

button{
    border: none;
    background-color: #FD853A;
    border-radius: 20px;
    color: white;
    height: 5vh;
}

button a{
    text-decoration: none;
    color: black;
}

.socials{
    color:  #FD853A;
}

.Contact{
    background-color: white;
    box-shadow: 1px 2px 1px #FD853A;
    border-radius: 20px;
    width: 200px;
    height: 290px;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
}



#Submit{
    border-radius: 20px;
    width: 50px;
    height: 20px;
    margin-bottom: 20px;
    padding: 0px;
    margin: 0px;
}

